[Unit]
Description=FritzBox FAX printing
Requires=network-online.target

[Service]
ExecStart=/opt/faxprint/venv/bin/python3 /opt/faxprint/main.py config.ini

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

Restart=on-failure
RestartSec=5
Type=simple
WorkingDirectory=/opt/faxprint

[Install]
WantedBy=default.target